@charset "utf-8";


* {
  box-sizing: border-box;
}
html {
  font-family: "Lucida Sans", sans-serif;
  font-weight: 400;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
	width: 100%;
}

header {
  background-color: #DFE84D;
  padding: 15px;
}
body {
    background-color: lightblue;
  }
ul.a {
  list-style-type: none;
  margin: 0;
  padding: 1;
  overflow: hidden;
  background-color: #333;
}

li.a {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 22px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #E81414;
	
}

.active {
  background-color: green;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
.pic_column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.pic_row::after {
  content: "";
  clear: both;
  display: table;
}
form { 
 	margin: 0 auto; 
 	width:250px;
 	font-size: 25px;
	color: black;
}
.cv_title{
	text-align: center;
	color: #E16115;
}
.cv_body{
	font-size: 20px;
}
.footer_font{
	font-style: italic;
	color: purple;
	font-size: 20px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightgreen;
  }
	span.bt{
		display: none;
	}
	
	
}
@media only screen and (min-width: 768px) {

html {
  font-family: "Times New Roman", Times, serif;
  font-style: oblique; 
}
	
}

@media only screen and (min-width: 900px) {

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
	
}
